/* Add your profile image here */
/* .Photo {
  background-image: url("../images/rajahniphoto.jpg");
} */
/* Projects Photo */
.project1 {
  background-image: url("../images/passwordgenerator.png");
  cursor: none;
}
.project2 {
  background-image: url("../images/quiz.png");
  cursor: none;
}
.project3 {
  background-image: url("../images/Dayplanner.png");
  cursor: none;
}
.project4 {
  background-image: url("../images/notetaker.png");
  cursor: none;
}
.project5 {
  background-image: url("../images/BurgerTown.png");
  cursor: none;
}
.project6 {
  background-image: url("../images/iSeePets1.png");
  cursor: none;
}
.project7 {
  background-image: url("../images/budget.png");
  cursor: none;
}
.project8 {
  background-image: url("../images/teamprofile.png");
  cursor: none;
}
.project9 {
  background-image: url("../images/fitnesstracker.png");
  cursor: none;
}
.project10 {
  background-image: url("../images/userdirectory.png");
  cursor: none;
}
.project11 {
  background-image: url("../images/google-books.png");
  cursor: none;
}

/* Miscelaneous Activities photo */
/* .misc1 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+one");
  cursor: none;
}
.misc2 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+two");
  cursor: none;
}
.misc3 {
  background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+three");
  cursor: none;
} */
/* Contact form parallax effect image */
.parallax {
  background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
